@import '../../styles/utils.scss';

.res-page {
  position: relative
}

.tab-container {
  @include flex-between();
  @include width-size(0px)
}

.tab-box {
  width:32%;
  margin: 4px 0;
  cursor: pointer;
  border: 1.2px dotted $darkgreen;
  border-radius: 5px;
  @include revert-color();
  @include flex-center();
  p {
    margin: 2px 0;
    font-size: 11px;
  }
}

.active-tab {
  border: 1.2px solid $darkgreen;
  @include active-background()
}

.cate-btn {
  width: 50%;
  border: 3px double $beige;
  border-radius: 10px;
  cursor: pointer;
  @include basic-color();
  @include flex-center();
  p {
    margin: 3px;
  }
}

.passive-cate {
  border: 3px double $darkgreen;
  @include revert-color()
}

.res-box {
  @include width-size(0px);
  height: calc(100vh - 140px);
  margin-bottom : 20px;
  @include scroll();
}

.map-btn {
  padding: 5px;
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translate(50%, 50%);
  border-radius: 50%;
  border: 3px double $beige;
  @include flex-center;
  @include basic-color;
  z-index: 99999999999999999;
}

.container {
  width: calc(100% - 5px);
  margin: 0;
  height: 100%;
  position: relative;
}
.map {
  width: calc(100% - 1px);
  height: calc(100% - 10px);
  @include round-border;
}